<div class="container mt-4">
  <div class="row mt-2 mb-1">
    <div class="col-md-3">
      <%= search_form_for @q do |f| %>
        <p class="lead">Narrow results:</p>
      
        <div class="form-group">
          <%= f.label :name_cont, "Name contains" %>
          <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
        </div>
        
        <div class="form-group">
          <%= f.label :bookmarks_dish_name_cont, "Bookmarked dish name contains" %>
          <%= f.text_field :bookmarks_dish_name_cont, :class => "form-control", :placeholder => "Bookmarked dish name contains" %>
        </div>
        
        <div class="form-group">
          <%= f.label :neighborhood_name_cont, "Neighborhood name contains" %>
          <%= f.text_field :neighborhood_name_cont, :class => "form-control", :placeholder => "Neighborhood name contains" %>
        </div>
    
        <%= f.submit :class => "btn btn-primary btn-block" %>
        
        <a href="/venues" class="btn btn-secondary btn-block mb-1">Clear filters</a>
      <% end %>
      <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#venues_filters">
        Show Filters
      </a>
    </div>
  
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Places you've bookmarked
          </h4>
        </div>
  
        <div class="card-body">
          <div id="location_map" style="height: 360px;"></div>
        </div>
        <ul class="list-group list-group-flush">
          <%@venues_bookmarked.each do |venue|%>
            <li class="list-group-item">
              <a href="/venues/<%=venue.id%>">
                <%=venue.name%>
              </a>
  
              <small class="text-muted float-right">
                <%=venue.neighborhood.name%>,
                <%=venue.neighborhood.city%>
              </small>
            </li>
          <%end%>
        </ul>
        <div class="card-footer text-center">
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
      <a href="/venues/new" class="btn btn-block btn-success">
        Add a new venue
      </a>
    </div>
  </div>

  <script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
      markers = handler.addMarkers([{"lat":41.9300559,"lng":-87.7070338,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58696'\u003eLongman \u0026 Eagle\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e2657 N Kedzie Ave, Chicago, IL 60647, USA\u003c/small\u003e"},{"lat":41.9100984,"lng":-87.6852883,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58704'\u003eHandlebar\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e2311 W North Ave, Chicago, IL 60647, USA\u003c/small\u003e"},{"lat":41.9001709,"lng":-87.6873006,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58695'\u003eLockdown Bar \u0026 Grill\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e1024 N Western Ave, Chicago, IL 60622, USA\u003c/small\u003e"},{"lat":41.9073327,"lng":-87.673198,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58710'\u003eKanela Breakfast Club\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e1408 N Milwaukee Ave, Chicago, IL 60622, USA\u003c/small\u003e"},{"lat":41.9106919,"lng":-87.6742409,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58714'\u003eThe Southern\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e1840 W North Ave, Chicago, IL 60622, USA\u003c/small\u003e"},{"lat":41.9253678,"lng":-87.7010381,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58705'\u003eThe Whistler\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e2421 N Milwaukee Ave, Chicago, IL 60647, USA\u003c/small\u003e"},{"lat":41.8926161,"lng":-87.6255681,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58707'\u003eShake Shack\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e66 E Ohio St, Chicago, IL 60611, USA\u003c/small\u003e"},{"lat":41.9091576,"lng":-87.6771306,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58716'\u003eBig Star\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e1531 N Damen Ave, Chicago, IL 60622, USA\u003c/small\u003e"},{"lat":41.8381065,"lng":-87.6512738,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58713'\u003ePleasant House Bakery\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e964 W 31st St, Chicago, IL 60608, USA\u003c/small\u003e"},{"lat":41.9173705,"lng":-87.6876492,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58708'\u003eMargie's Candies\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e1960 N Western Ave, Chicago, IL 60647, USA\u003c/small\u003e"},{"lat":41.8963452,"lng":-87.6644506,"infowindow":"\u003ch5\u003e\u003ca href='/venues/58701'\u003eUnite Urban Grill\u003c/a\u003e\u003c/h5\u003e\u003csmall\u003e1450 W Chicago Ave, Chicago, IL 60642, USA\u003c/small\u003e"}]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>

</div>
