<div class="container mt-4">
  <div class="row mt-2 mb-1">
    <div class="col-md-3">
      <form class="collapse" id="venues_filters" action="/venues" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p class="lead">Narrow results:</p>
  
      <div class="form-group">
        <label for="q_name_cont">Name contains</label>
        <input class="form-control" placeholder="Name contains" type="text" name="q[name_cont]" id="q_name_cont" />
      </div>
  
      <div class="form-group">
        <label for="q_bookmarks_notes_or_specialties_name_cont">Bookmarked dish name contains</label>
        <input class="form-control" placeholder="Bookmarked dish name contains" type="text" name="q[bookmarks_notes_or_specialties_name_cont]" id="q_bookmarks_notes_or_specialties_name_cont" />
      </div>
  
      <div class="form-group">
        <label for="q_neighborhood_name_cont">Neighborhood name contains</label>
        <input class="form-control" placeholder="Neighborhood name contains" type="text" name="q[neighborhood_name_cont]" id="q_neighborhood_name_cont" />
      </div>
  
      <input type="submit" name="commit" value="Search" class="btn btn-primary btn-block mb-1" data-disable-with="Search" />
  
      <a href="/venues" class="btn btn-secondary btn-block mb-1">Clear filters</a>
      </form>    
      <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#venues_filters">
        Show Filters
      </a>
    </div>
  
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">
            Places you've bookmarked
          </h4>
        </div>
  
        <div class="card-body">
          <div id="location_map" style="height: 360px;"></div>
        </div>
        <ul class="list-group list-group-flush">
          <%@venues_bookmarked.each do |venue|%>
            <li class="list-group-item">
              <a href="/venues/<%=venue.id%>">
                <%=venue.name%>
              </a>
  
              <small class="text-muted float-right">
                <%=venue.neighborhood.name%>,
                <%=venue.neighborhood.city%>
              </small>
            </li>
          <%end%>
        </ul>
        <div class="card-footer text-center">
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
      <a href="/venues/new" class="btn btn-block btn-success">
        Add a new venue
      </a>
    </div>
  </div>

  <script src="//maps.google.com/maps/api/js?v=3.24&key=AIzaSyCOTPWiuvyyo6sKoIBzKA4-1ol-vTOIOlM"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'location_map'}}, function(){
      markers = handler.addMarkers(<%= raw @location_hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
  </script>

</div>
